# To get a chat ID, visit https://medium.com/@ManHay_Hong/how-to-create-a-telegram-bot-and-send-messages-with-python-4cf314d9fa3e
bot_token: "12345:YOUR FULL BOT TOKEN"
bot_chat_id: ""
output_dirpath_list:
  - path: "YOUR DIRPATH"
    description: "YOUR DESCRIPTION"